/* overrides common.css */
h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.summary {
  margin-left: 0;
  max-width: 95%;
}

.summary > * > * > td {
  text-align: left;
  vertical-align: top;
  padding-left: 0;
}

.resume {
  margin: 20px auto;
}
