/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chineseLight {
  font-family: Noto Sans CJK SC, SimSun;
  font-weight: 200;
}
.chinese {
  font-family: Noto Sans CJK SC, SimSun;
  font-weight: bold;
  word-break: keep-all;
}

html,
body {
  background-color: #f9f7f7;
  height: 100vh;
}
body {
  font-size: 20px;
  color: #112d4e;
  text-indent: 0px;
  font-family: "Noto Serif", garamond, serif;
}

/* buttons and links*/
.btn,
input[type="submit"] {
  text-decoration: none;
  font-size: 90%;
}
a:hover {
  color: indianred;
}
a {
  /*    text-decoration: none;*/
  color: #112d4e;
}
.document {
  color: red;
  text-decoration: none;
  line-height: 40px;
}
.header:hover {
  color: #112d4e;
}

/* Other tags*/
h1,
h2 {
  color: #3f72af;
  /*    color:rgba(214, 162, 36, 0.92);*/
  font-family: lato, arial;
}
h1 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 20px;
}
h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

figure {
  display: inline-block;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 10px;
}
figure figcaption {
  text-align: left;
  font-size: medium;
  /* font-family: garamond; */
  font-style: italic;
}
figure img {
  min-width: 300px;
  width: 50%;
  display: block;
}

.main-text {
  margin-bottom: 20px;
  line-height: 130%;
}
.container {
  /*    border: 1px solid #888888;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1400px;
  min-height: 100%;
  margin: 20px auto 0px auto;
  padding: 5px;
}

.left {
  /*    background-color:#00FF00;*/
  flex-basis: 75%;
  flex-grow: 1;
  padding-right: 15px;
  position: relative;
  /* border-right: 1px solid #888888; */
}
.right {
  flex-basis: 25%;
  flex-grow: 1;
  min-width: 200px;
  padding-top: 10vh;
  padding-bottom: 0%;
  background-color: #f4f4f3;
}
nav {
  position: sticky;
  top: 5vh;
  padding-left: 15px;
  line-height: 180%;
  background-color: #f4f4f3;
}

ul {
  list-style-type: none;
  display: inline-block;
  font-size: 125%;
  width: 95%;
}
ul li {
  width: 100%;
}
ul li a.active {
  background: #3f72af;
  min-width: 100%;
  color: #f4f4f3;
}
ul li a.rest {
  color: #112d4e;
}

.list,
.description {
  font-size: 85%;
  background-color: #f9f7f7;
  margin-bottom: 24px;
}
.list {
  line-height: 130%;
}

.teaser {
  line-height: 120%;
  background-color: #f4f4f3;
  margin: 20px auto;
  height: 40px;
}

.note {
  font-style: italic;
  color: indianred;
  margin: 10px auto 50px;
}

/* footers */
.footer {
  background-color: #f9f7f7;
  position: sticky;
  bottom: 0px;
  border-top: 1px solid #888888;
  margin: 0px auto;
  padding: 15px 0px 10px 0px;
  width: 100%;
  text-align: center;
  line-height: 150%;
  align-self: flex-end;
}
.footer img {
  height: 50px;
  width: 50px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.update {
  font-size: smaller;
  margin-bottom: 25px;
}

table {
  margin: 0 auto;
}
td {
  padding: 0px 3px;
}
