* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f9f7f7;
  color: #f9f7f7;
  font-family: Lato, garamond, serif;
  font-size: 20px;
  height: 100vh;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}
.chinese {
  font-weight: 200;
  word-break: keep-all;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(../img/pittsburgh.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.links {
  position: absolute;
  max-width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1 {
  font-size: 300%;
  font-weight: 300;
  color: #f9f7f7;
}
.btn,
.btn-chinese {
  text-decoration: none;
  color: #f9f7f7;
}
.btn:link,
.btn:visited {
  font-size: 160%;
  font-weight: 250;
}
.btn-chinese {
  font-family: Noto Sans CJK SC, SimSun;
}
.btn-chinese:link,
.btn-chinese:visited {
  font-size: 140%;
  font-weight: 400;
}

.btn-chinese:hover,
:focus {
  font-size: 145%;
  font-weight: 700;
}
.btn:hover,
:focus {
  font-weight: 800;
}
