* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f9f7f7;
  color: #f9f7f7;
  font-family: Lato, garamond, serif;
  font-size: 20px;
  height: 100vh;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}
.chinese {
  font-weight: 200;
  word-break: keep-all;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(../img/pittsburgh.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

@keyframes slideUpFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.links {
  position: absolute;
  max-width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.links > a,
.links > span {
  animation: 1s ease-out 0s 1 slideUpFromBottom;
}
.divider {
  white-space: pre-wrap;
  font-size: 160%;
  display: inline-block;
}
h1 {
  font-size: 300%;
  font-weight: 300;
  color: #f9f7f7;
}
.btn,
.btn-chinese {
  text-decoration: none;
  color: #f9f7f7;
  display: inline-block;
}
.btn {
  font-size: 160%;
  font-weight: 250;
}
.btn:hover,
:focus {
  font-weight: 800;
}

.btn-chinese {
  font-family: Noto Sans CJK SC, SimSun;
  font-size: 140%;
  font-weight: 600;
}
.btn-chinese:hover,
:focus {
  font-size: 150%;
  font-weight: 800;
}
