* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f9f7f7;
  color: #f9f7f7;
  font-family: Lato, garamond, serif;
  font-size: 20px;
  height: 100vh;
  text-rendering: optimizeLegibility;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(../img/pittsburgh.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

@keyframes slideUpFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appear {
  0% {
    visibility: hidden;
    /* display: none; */
    /* color: blue; */
  }
  100% {
    display: none;
    visibility: visible;
  }
}

header {
  width: 100%;
}

h1 {
  margin-top: 0px;
  font-size: 300%;
  font-weight: 300;
  color: #f9f7f7;
  animation: 0.5s step-end appear;
}

.chinese {
  font-weight: 200;
  word-break: keep-all;
}

.container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.links > a,
.links > span {
  animation: 0.5s step-end appear, 1s ease-out 0.5s 1 slideUpFromBottom;
}

.divider {
  white-space: pre-wrap;
  font-size: 160%;
  display: inline-block;
}

.btn,
.btn-chinese {
  text-decoration: none;
  color: #f9f7f7;
  display: inline-block;
}
.btn {
  font-size: 160%;
  font-weight: 250;
}
.btn:hover,
:focus {
  font-weight: 600;
}

.btn-chinese {
  font-family: Noto Sans CJK SC, SimSun;
  font-size: 140%;
  font-weight: 800;
}
.btn-chinese:hover,
:focus {
  font-size: 150%;
  font-weight: 800;
}
